.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .ProfileContentTop{
        width: 100%;
        background-color: #ffffff;
    }

    .ProfileContentBottom{
        display: flex;
        gap: 10px;
        padding: 10px;
        width: 100%;

        .ProfileContentBottomLeft {
            width: 32%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .completeProfile {
                background-color: #ffffff;
                border-radius: 13px;
                padding: 10px;
            }

            .intro {
                background-color: #ffffff;
                border-radius: 13px;
                padding: 10px;
            }

            .photos {
                background-color: #ffffff;
                border-radius: 13px;
                padding: 10px;
            }
        }
        .ProfileContentBottomRight {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 65%;

            .statusInput {
                // background-color: #ffffff;
                // padding: 10px;
                // border-radius: 13px;
            }

            .statusPost {
                // background-color: #ffffff;
                // padding: 10px;
                // border-radius: 13px;
            }
        }
    }
}