.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .ProfileContentTop{
        width: 100%;
        background-color: #ffffff;
    }

    .ProfileContentBottom{
        display: flex;
        gap: 10px;
        width: 100%;
        background-color: #fff;

        .ProfileContentBottomLeft {
            background-color: #fff;
            width: 32%;

            .completeProfile {
                padding: 10px;
                border-radius: 13px;
                background-color: #808080;
            }

            .intro {
                background-color: #7a7a7a;
            }

            .photos {
                background-color: #919191;
            }
        }
        .ProfileContentBottomRight {
            background-color: #fff;
            width: 65%;

            .statusInput {
                background-color: #787878;
            }

            .statusPost {
                background-color: #6f6f6f;
            }
        }
    }
}