.events {
    margin-left: 5vh;
  }
  
  .topic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .event-cards{
    margin-right: 10px;
    margin-top: 10px;
    .top-card{
        margin: 10px;
    }
    .botton-card{
        margin-top: 10px;
    }
  }
  
  .topnavigate {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 20px;
    justify-content: space-between;
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }